div{
    background-color: #F8EAD8;
}
body{
    margin: 0;
    text-align: center;
    font-size: x-large;
    font-family: 'Merriweather', serif;
    font-family: Cormorant;
    color: #40514E;
}
hr{
    border: dotted #EDDBC7 6px;
    border-bottom: none;
    width: 8%;
    
    margin: 100px auto;
}
h1{
    font-size: 562%; /*16px = 100% so to get 90px, 90/16=5.62 which is 562%.......OR ..1em = 100% = 16px */
    margin-top: 0;
    font-family:'Aboreto',serif; ;
    font-family: 'Sacramento', cursive;
    color: #A7727D;
    line-height: 2;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #A7727D;
    padding-bottom: 10px;
}
h3{
    color: #A7727D;
}
p{
    line-height: 2;
}
.top{
    background-color: #F9F5E7;
    position: relative;
    padding-top: 100px;
}
.middle-container{
    background-color: #F8EAD8;
}
.bottom-container{
    background-color: #A7727D;
    padding: 50px 0 20px;
}
a{
    color: #ca949f ;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #f0dee2;
}
.copyright{
    color: #e7b3be;
    font-size: .75rem;
}

.profilepic{
    margin: 50px 0 0 0;
}
.intro{
    margin: auto;
    width: 30%;
}
.contact-me{
    width: 40%;
    margin: 40px auto 60px;
}
.photo{
    text-decoration: underline;
}
.mountain{
    position: static;
    bottom: 50px;
}
.cloudtop{
    position: absolute;
    right: 250px;
    top: 10px;
}
.cloudbot{
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.profilepic{
    width: 300px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    margin: 100px auto;
  
    
}
.Coding_Icon{
    float: left;
    width: 25%;
    height: 25%;
    margin: 0 30px 0 0;
}
.Camera_Icon{
    float: right;
    width: 25%;
    margin: 0 0 0 30px;
}
.btn {
    background: #d18781;
    background-image: -webkit-linear-gradient(top, #d18781, #915d45);
    background-image: -moz-linear-gradient(top, #d18781, #915d45);
    background-image: -ms-linear-gradient(top, #d18781, #915d45);
    background-image: -o-linear-gradient(top, #d18781, #915d45);
    background-image: linear-gradient(to bottom, #d18781, #915d45);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #EDDBC7;
    background-image: -webkit-linear-gradient(top, #EDDBC7, #b38329);
    background-image: -moz-linear-gradient(top, #EDDBC7, #b38329);
    background-image: -ms-linear-gradient(top, #EDDBC7, #b38329);
    background-image: -o-linear-gradient(top, #EDDBC7, #b38329);
    background-image: linear-gradient(to bottom, #EDDBC7, #b38329);
    text-decoration: none;
  }
